:root {
    text-align: center;
}
br {
	display: block;
    content: "";
    margin-bottom: 16px;
}
span {
    font-size: 24px;
}
select,
input {
    margin: 0 3px;
}
select {
    width: 200px;
}
input {
    width: 192px;
}
#info {
    width: 600px;
    text-align: justify;
    margin: 0 auto 32px;
}
#center {
    text-align: center;
    margin-top: 20px;
}
#search {
    display: inline-block;
    text-align: right;
}
#search br {
    margin: 4px;
    line-height: 0;
}
#highlights {
    width: 400px;
    text-align: center;
    margin: 20px auto 0;
}
#highlights a {
    display: inline-block;
}
#resultsHeader {
    margin: 0 auto 20px;
}
#results {
    display: inline-block;
    width: initial;
    white-space: pre;
    text-align: left;
    margin-bottom: 8px;
}
#results a::after {
    content: "\A";
}