:root {
    text-align: center;
}
br {
	display: block;
    content: "";
    margin-bottom: 16px;
}
span {
    font-size: 24px;
}
select,
input {
    margin: 0 3px;
}
select {
    width: 200px;
}
input {
    width: 192px;
}
table {
    margin: 0 auto;
}
#info {
    width: 600px;
    text-align: justify;
    margin: 0 auto 32px;
}
#center {
    text-align: center;
    margin-top: 20px;
}
#search {
    display: inline-block;
    text-align: right;
}
#search br {
    margin: 4px;
    line-height: 0;
}
#search button {
    display: block;
    margin: 0 auto;
}
#highlights {
    width: 400px;
    text-align: center;
    margin: 20px auto 0;
}
#highlights a {
    display: inline-block;
}
#resultsHeader {
    margin: 0 auto;
}
#resultsHeader table {
    font-size: 20px;
    border: none;
}
#resultsHeader td {
    padding: 0 4px;
}
#resultsHeader td:first-child {
    text-align: right;
}
#resultsHeader td:last-child {
    text-align: left;
}
#results {
    width: 1000px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 20px auto;
    table-layout: fixed;
}
#results th,
#results td {
    padding: 2px 4px;
    border: 1px solid #000;
}
#results th:last-child {
    width: 40px;
}
#results td:not(:last-child) {
    text-align: left;
}
#results a::after {
    content: "\A";
}